* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(2,3,73);
    background: linear-gradient(135deg, #020349 40%, rgba(241,245,249,1) 40%, rgba(146,158,170,1) 80%, #020349 10%);
    overflow-x: hidden;
  }

    .container {
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 90%;
    margin: 1rem;
    animation: fadeIn 1s ease-in-out;
  }

  .logo {
    width: 4rem;
    height: 4rem;
    background: linear-gradient(45deg,rgb(188, 200, 214),rgb(221, 235, 245));
    border-radius: 50%;
    margin: 0 auto 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  .logo:hover{
    transform: scale(1.1);
    box-shadow: 0 0.5rem 1 rem rgba(0, 0, 0, 0.81);
  }
  h1 {
    font-size: 2.2rem;
    color: #1a202c;
    margin-bottom: 0.5rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
  }
  h1 .logo-Name:hover{
    transform: scale(1.1);
  }
  h4{
    font-size: 1.125rem;
    color: #4a5568;
    margin-bottom: 2rem;
    font-weight: 400;
  }
  
  .buttons {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  button {
    padding: 0.75rem 2rem;
    border: none;
    border-radius: 2rem;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .login-btn {
    background: #4a90e2;
    color: white;
  }
  .login-btn:hover {
    background: #2b6cb0; 
    transform: translateY(-0.125rem);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
  }
  .signup-btn {
    background: white;
    color: #4a90e2;
    border: 2px solid #4a90e2;
  }
  .signup-btn:hover {
    background: #4a90e2;
    color: white;
    transform: translateY(-0.125rem);
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);
  }
  
  /* Responsive design */
  @media (max-width: 480px) {
    .logo {
      width: 80px;
      height: 80px;
      font-size: 30px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    button {
      padding: 10px 25px;
      font-size: 14px;
    }
  }